fastapi
uvicorn
websockets
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
email-validator
PyJWT==2.8.0
passlib==1.7.4
bcrypt==4.1.2
watchdog
openpyxl
xlrd
python-docx
python-pptx
PyMuPDF
rapidocr_onnxruntime
pillow
numpy
